<div class="col-md-12 m-b-10">
  <div class="widget-item ">
    <%- if current_member == current_transaction.feeder.member %>
      <%= render 'dashboard/sections/sender', current_transaction: current_transaction %>
    <%- else %>
      <%= render 'dashboard/sections/receiver', current_transaction: current_transaction %>
    <%- end %>
  </div>
</div>