          <div class="col-12">
            <dl class="accordion">
              <dt href="#accordion2" aria-expanded="true" aria-controls="accordion2" class="dark-grey js-accordionTrigger">
                <span class="icon-square  text-white">
                  <i class="fa fa-check"></i>
                </span>
                  <a href="" class="is-expanded text-white">ALL TRANSACTIONS</a>
              </dt>
              <dd class="accordion-content accordionItem is-expanded" id="accordion2" aria-hidden="false">
                <div class="row no-gutters">
                  <div class="col-12 col-lg-12">
                    <div class="table-responsive">
                      <table class="table table-hover table-dash ">
                        <thead class="">
                          <tr>
                            <th class="text-black">Type</th>
                            <th class="text-black">Completed Date</th>
                            <th class="text-black">Name</th>
                            <th class="text-black">Bank Account</th>
                            <th class="text-black">Account Name</th>
                            <th class="text-black">Amount</th>
                            
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= render 'dashboard/items/transaction' %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>