        <div class="row flex cards marginTop-10">
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="row flex tiles-container tiles-border h-full">
                <div class="col-md-4 col-xs-5 no-padding h-full">
                  <div class="tiles green h-full content-center">
                    <i class="fa fa-chevron-circle-down"></i>
                  </div>
                </div>
                <div class="col-md-8 col-xs-7 tiles white p-10 text-center">
                  <h3 class="text-uppercase text-bold"><%= number_to_currency(@current_account.summary[:total_received].to_f) %></h3>
                  <small class="text-uppercase">Total Money</small><br/>
                  <small class="text-uppercase">Received</small>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="row flex tiles-container tiles-border h-full">
                <div class="col-md-4 col-xs-5 no-padding h-full">
                  <div class="tiles green h-full content-center">
                    <i class="fa fa-chevron-circle-up"></i>
                  </div>
                </div>
                <div class="col-md-8 col-xs-7 tiles white p-10 text-center">
                  <h3 class="text-uppercase text-bold">
                    <%= number_to_currency(@current_account.summary[:total_sent].to_f) %>
                  </h3>
                  <small class="text-uppercase">Total Money</small><br/>
                  <small class="text-uppercase">Sent</small>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="row flex tiles-container tiles-border h-full">
                <div class="col-md-4 col-xs-5 no-padding h-full">
                  <div class="tiles green h-full content-center">
                    <i class="fa fa-exchange"></i>
                  </div>
                </div>
                <div class="col-md-8 col-xs-7 tiles white p-10 text-center">
                  <h3 class="text-uppercase text-bold">
                    <%= @current_account.summary[:total_transaction] %>
                    <small>&nbsp; TRX's</small>
                  </h3>
                  <small class="text-uppercase">Total <br/>Transaction</small><br/>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="row flex tiles-container tiles-border h-full">
                <div class="col-md-4 col-xs-5 no-padding h-full">
                  <div class="tiles green h-full content-center">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="col-md-8 col-xs-7 tiles white p-10 text-center">
                  <h3 class="text-uppercase text-bold">
                    <%= current_member.summary[:total_accounts] %>
                    <small>&nbsp; Accounts</small>
                  </h3>
                  <small class="text-uppercase">TOTAL <br/>ACCOUNT</small>
                </div>
              </div>
            </div>

        </div>