    <section class="jumbotron text-left">
      <div class="container">
         <div class="row">
            <div class="text-center width-100pct">
            <%= render 'layouts/notice' %>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="marginBottom-20">
                  <div class="owl-carousel owl-theme">
                    <div class="item">
                      <img class="featurette-image img-fluid mx-auto" src="http://placehold.it/400x250" alt="thumb">
                    </div>
                    <div class="item">
                      <img class="featurette-image img-fluid mx-auto" src="http://placehold.it/400x250" alt="thumb">
                    </div>
                    <div class="item">
                      <img class="featurette-image img-fluid mx-auto" src="http://placehold.it/400x250" alt="thumb">
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 pd-left-30">
                <div class="hero-content">
                    <div class="heading-hero">
                        <h2 class="jumbotron-heading">Lorem Ipsum Heading</h2>
                    </div>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda pariatur sed voluptate suscipit nihil debitis ducimus molestias tempore ut.
                    </p>
                    <div class="text-left marginTop-30">
                      <a href="<%= new_member_registration_path %>" class="btn btn-primary text-uppercase btn-lg">Sign up</a>
                    </div>
                </div>
            </div>
         </div>
      </div>
    </section>

    <section class="content-section">
      <div class="container">
        <div class="row featurette">
            <div class="col-12 col-md-7 col-sm-7">
                <h2 class="featurette-heading text-uppercase">Lorem Ipsum heading <span class="color-secondary font-bold">
                    It'll blow your mind.</span>
                </h2>
                <div class="featurette-content">
                    <p class="lead text-justify">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus 
                        commodo.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-sm-5">
                <img class="featurette-image img-fluid mx-auto" src="//placehold.it/400x300" alt="Generic placeholder image">
            </div>
        </div>
      </div>
    </section>
    <hr class="hr-padd">

    <section class="content-section">
      <div class="container">
        <!--<div class="heading-title">
          <h2> Heading Lorem</h2>
        </div>-->
        <div class="row">
          <div class="card col-12 col-sm-6 col-md-6 col-lg-3">
            <img src="//placehold.it/300x200" alt="Card image cap">
            <div class="card-content">
              <a href="javascript::">
                <h5 class="title color-primary">Lorem Ipsum Dollor Heading </h5>
              </a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card col-12 col-sm-6 col-md-6 col-lg-3">
            <img src="//placehold.it/300x200" alt="Card image cap">
            <div class="card-content">
              <a href="javascript::">
                <h5 class="title color-primary">Lorem Ipsum Dollor Heading </h5>
              </a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card col-12 col-sm-6 col-md-6 col-lg-3">
            <img src="//placehold.it/300x200" alt="Card image cap">
            <div class="card-content">
              <a href="javascript::">
                <h5 class="title color-primary">Lorem Ipsum Dollor Heading </h5>
              </a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card col-12 col-sm-6 col-md-6 col-lg-3">
            <img src="//placehold.it/300x200" alt="Card image cap">
            <div class="card-content">
              <a href="javascript::">
                <h5 class="title color-primary">Lorem Ipsum Dollor Heading </h5>
              </a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="form-signin" action="<%= new_member_registration_path %>">
               <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
               <button class="btn btn-lg btn-primary btn-block marginTop-20" type="submit">Sign up</button>
            </form>
          </div>
        </div>
        <hr/>
      </div>

    </section>