  <section class="content-section dashboard-public margin-top-50">
    <br/><br/>
    <h2 class="color-secondary font-bold text-center">Support / FAQ</h2>

    <div class="container">
      <div class="container ">
        <div class="row no-gutters">
          <p> Here's the most Frequently Asked Questions, for everything else just drop us an enquiry via the customer service chat function below.</p>
          <div class="col-12">

            <dl class="accordion"><h3 class="font-bold text-center">Introduction</h3>

              <dt href="#accordion11" aria-expanded="false" aria-controls="accordion11" class="js-accordionTrigger">
                <a>What is Playkutu?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion11" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>PlayKutu is the digital version of the popular <i>kutu </i>(social gathering that takes place at a fixed interval), each member contributing in turn. The rotating PlayKutu holder receives donations from other members. In the course of the PlayKutu cycles the amount paid to other members will equal the amount received when the PlayKutu cycles are completed. We have expanded this concept to create a <b>Massive Multimember Online Kutu</b>
                  </p>
                  <p>In general, no interest is payable per se in the PlayKutu, simply a means of circulating money between members; Playkutu does not involve an auction element, instead we employ a fair rotation system determined by members’ speed in contribution.
                  </p>
                  <p>
                    The catch is simple, in exchange for helping you bridge financial gaps, you help others in the community do the same in the future!
                  </p>
                  <blockquote>
                    <p>
                      Donor loyalty is not about the donor being loyal to you, it is you being loyal to the donor.
                  </p>
                  <small> Harvey McKinnon, Author of  <i> The Power of Giving</i> </small>
                  </blockquote>
                </div>
              </dd>

              <dt href="#accordion12" aria-expanded="false" aria-controls="accordion12" class="js-accordionTrigger">
                <a>How does it work?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion12" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>
                    You join and are immediately connected to a large and growing community of like-minded members. You enter the first of stage of a 3 part cycle.
                  </p>
                  <p>
                    <b>Stage 1: </b> You contribute a donation of RM1000 to a random member in the community.
                  You then enter the receiver stage where members contribute to you RM4000.
                  Once this full amount is received, you will enter the second stage.
                  </p>
                  <p>
                    <b>Stage 2:</b> You contribute a donation of RM2000 to a random member in the community.
                  You then enter the receiver stage where members contribute to you RM8000.
                  Once this full amount is received, you will enter the third stage.
                  </p>
                  <p>
                    <b>Stage 3:</b> You contribute a donation of RM4000 to a random member in the community.
                  You then enter the receiver stage where members contribute to you RM16000.
                  Once this full amount is received, ypou have completed on full cycle.
                  </p>
                  <p>
                  To achieve sustainability you are eligible to repeat the set of 3 stages up to 21 times (with a limit of 8 times concurrently), effectively returning the total net contributions you intially received from the community.
                </p>
                </div>
              </dd>

              <dt href="#accordion13" aria-expanded="false" aria-controls="accordion13" class="js-accordionTrigger">
                <a>What can I use the Playkutu donation funds for? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion13" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>Donations are direct to your bank account and we place no restrictions on utilisation of funds. But always ensure to have enough funds to contribute for your next stage.</p>
                  <p>
                  Members have used Playkutu to fund seed stage business ventures, wedding, or large purchase. As a source of finance it represents an alternative to bank loans and other forms of credit.
                  </p>
                </div>
              </dd>

              <dt href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="js-accordionTrigger">
                <a>Is Playkutu an investment?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>No. We merely provide a system of advancing cash through forward donations which should be returned without interest by the end of full cycles.
                  </p>
                </div>
              </dd>

              <dt href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="js-accordionTrigger">
                <a>Is there an interest rate?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>No. There is 0% interest on donations received and contributions made.
                  </p>
                </div>
              </dd>

              <dt href="#accordion15" aria-expanded="false" aria-controls="accordion15" class="js-accordionTrigger">
                <a>What are the risks associated with Playkutu?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion15" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>This is <b>very important</b>. Nothing is ever 100% risk-free. If someone tells you otherwise, better just burn your money.
                  </p>
                  <p> Since Playkutu is direct member-to-member, the biggest and only risk is if a member receives and then stops contributing donations. We mitigate this in 2 ways:
                    <ul>
                      <li>Accounts that fail to donate in the time prescribed at banned <strong>forever</strong>.</li>
                      <li>Failed transactions are replaced with the next avaiable subsitute, so you will still receive the full amount.</li>
                    </ul>
                    <p> So with these two measures in place, the long term effect of abuse and risk is minimised. A community that continues to grow and support each other is perpetually beneficial, for everyone that plays by the rules.</p>
                </div>
              </dd>
              <dt href="#accordion16" aria-expanded="false" aria-controls="accordion16" class="js-accordionTrigger">
                <a>How do you make money?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion16" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>We don't! Playkutu was set up by a small group of Philantropists at absolutely no cost to members. No fees or charges.
                  </p>
                  <p>Funds are transfered directly between members, we only have a small team of developers who administer disputes so that nobody takes advantage of the trust of other members. The penalty for trying to cheat other members is a <b>lifetime band </b>. Your bank account will be blacklisted and will never be able to re-join the community. So don't do it!</p>
                </div>
              </dd>
            </dl>
          </div>

          <div class="col-12">
            <dl class="accordion"><h3 class="font-bold text-center">Members & Accounts</h3>
            <dt href="#accordion21" aria-expanded="false" aria-controls="accordion21" class="js-accordionTrigger">
              <a>How do I join as a member?</a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion21" aria-hidden="true">
              <div class="flex-base-50 padding-20">
                <p>You just need an email and a bank account. Playkutu is localised to you country so you will only play with members in the same country. No foreign transfers, no Nigerian princes, no additional fees, no bullshit.
                </p>

                <p>Click <span><a href="<%= new_member_registration_path %>"> here</a></span> to Sign up.</p>
              </div>
            </dd>
              <dt href="#accordion22" aria-expanded="false" aria-controls="accordion22" class="js-accordionTrigger">
                <a>Difference between 'Member' and 'Account'?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion22" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>
                  When you sign up, you become a member, with a unique username and password.</p>
                  <p>
                  Each member starts with 1 Account, when you successfully complete the 3 stages of the first account cycle, you are eligible to initiate additional Accounts.</p>
                </p>
                </div>
              </dd>
              <dt href="#accordion23" aria-expanded="false" aria-controls="accordion23" class="js-accordionTrigger">
                <a>How many accounts can a member have?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion23" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>Each new member is only eligible for 1 account. Once the first account complete the full cycle of 3 stages, you are eligible for 21 further accounts, with a maximum of 8 accounts concurrently.</p>
                </div>
              </dd>
              <dt href="#accordion24" aria-expanded="false" aria-controls="accordion24" class="js-accordionTrigger">
                <a>How do I add a new account?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion24" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>Click the Playkutu account on the top left of the screen or Accounts on the top right.
                    <br/>
                    Click Accounts > + Add new account.</p>
                </div>
              </dd>
            </dl>
          </div>

          <div class="col-12">

            <dl class="accordion"><h3 class="font-bold text-center">Transactions</h3>

              <dt href="#accordion31" aria-expanded="false" aria-controls="accordion31" class="js-accordionTrigger">
                <a>Who do I donate to or recieve donations from?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion31" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>PlayKutu automatically links transactions between random members in the community. You may not know the person prior to the transaction but you will be given the donor's/receiver's contact and banking details for each transaction
                  </p>
                </div>
              </dd>

              <dt href="#accordion12" aria-expanded="false" aria-controls="accordion12" class="js-accordionTrigger">
                <a>How much time do I have to donate?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion12" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>
                    You have a maximum of 4 days / 96 hours from the moment a call to contribute is made.
                  </p>
                </div>
              </dd>

              <dt href="#accordion13" aria-expanded="false" aria-controls="accordion13" class="js-accordionTrigger">
                <a>How much time do I have to confirm receipt?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion13" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>You have a maximum of 4 days / 96 hours from the moment a sender sends the notification that funds have been donated.
                  </p>
                </div>
              </dd>

              <dt href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="js-accordionTrigger">
                <a>How do I receive donations faster??</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>We operate a strict time and turn based queue. The faster you contribute and confirm, the higher in the receivers’ queue you enter.
                  </p>
                </div>
              </dd>

              <dt href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="js-accordionTrigger">
                <a>What if I donate late?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>We are not responsible for and will not entertain donations outside the rules set by Playkutu’s system. Your account will be permanently blocked. Reactivation is not possible.
                  </p>
                </div>
              </dd>

              <dt href="#accordion15" aria-expanded="false" aria-controls="accordion15" class="js-accordionTrigger">
                <a>What if I a donor does not pay within the time limit?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion15" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>That donor will be removed from your connections and you will be given the next available donor.</p>
                </div>
              </dd>
              <dt href="#accordion16" aria-expanded="false" aria-controls="accordion16" class="js-accordionTrigger">
                <a>What if I confirm receipt late?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion16" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>Your account will fall into resolution, the administrator will facilitate manual offline confirmation. The donor will proceed if the donation is verified. The receiver account will be locked. Reactivation is not possible.
                  </p>
                </div>
              </dd>
              <dt href="#accordion16" aria-expanded="false" aria-controls="accordion16" class="js-accordionTrigger">
                <a>What if the donor says he sent but I did not receive the funds?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion16" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>We encourage all members to do instant transfers so funds should clear within the same day. However, some inter-bank transfers may take longer so you should allow up to 3 business days for the funds to clear into your account. If this fails, either let the transaction confirmation time lapse OR initiate a dispute. To do this, click “Dispute Transaction” in the “more details” section of a transaction.</p>
                  <p>In a dispute, the system admin will facilitate manual confirmation between the parties. In 99% of cases, the transactions are confirmed amicably and you proceed as normal.If the donor purposely misled you and is trying to cheat the system, the donor will be permanently banned and you will be given the next available donor.
                  </p>
                </div>
              </dd>
            </dl>
          </div>

          <div class="col-12">

            <dl class="accordion"><h3 class="font-bold text-center">Fees & Charges</h3>

              <dt href="#accordion31" aria-expanded="false" aria-controls="accordion31" class="js-accordionTrigger">
                <a>How much do you charge for the Playkutu service?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion31" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  <p>Although membership is through referrals only, we <strong>do not charge anything</strong> for remaining and participating in the community.</p>
                  <p> So the simple answer is: Playkutu is absolutely <strong> FREE </strong> forever!
                  </p>
                  <p> Welcome and enjoy the Power of Giving </p>
                </div>
              </dd>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>


<%= render 'home/tawk_to' %>
