  <section class="content-section dashboard-public margin-top-50">
    <br/><br/>
    <h2 class="color-secondary font-bold text-center">Support</h2>
    <div class="container">      
      <div class="container ">
        <div class="row no-gutters">
          <div class="col-12">
            <dl class="accordion">
              <dt href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="js-accordionTrigger">
                <a><i class="fa fa-check"></i>&nbsp;Title 1</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  Content 1
                </div>
              </dd>
              <dt href="#accordion1" aria-expanded="false" aria-controls="accordion2" class="js-accordionTrigger">
                <a><i class="fa fa-check"></i>&nbsp;Title 1</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  Content 1
                </div>
              </dd>
              <dt href="#accordion1" aria-expanded="false" aria-controls="accordion2" class="js-accordionTrigger">
                <a><i class="fa fa-check"></i>&nbsp;Title 1</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <div class="flex-base-50 padding-20">
                  Content 1
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>