<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: Your transaction is being disputed</title>
  </head>
  <body>
    <p>
    	Your PlayKutu transaction is being disputed.<br/><br/>
    	See the transaction here: <br/>
    	<%= new_member_session_url  %>
    </p>

  </body>
</html>