<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: Your transaction is failed</title>
  </head>
  <body>
    <p>
    	Your PlayKutu transaction is failed.<br/><br/>
    	See the transaction here: <br/>
    	<%= transaction_url(@transaction) %>
    </p>

  </body>
</html>