<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: Your account has completed receive-send</title>
  </head>
  <body>
    <p>
    	Your PlayKutu account has completed receive-send.<br/><br/>
      See your all your accounts by login here: <br/>
      <%= new_member_session_url %>
    </p>

  </body>
</html>