<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: Your member accounts limit has been updated</title>
  </head>
  <body>
    <p>
    	Your PlayKutu member accounts limit has been updated.<br/><br/>
    	See your account by login here: <br/>
    	<%= login_url %>
    </p>

  </body>
</html>