<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: A new transaction is now available</title>
  </head>
  <body>
    <p>
    	A new PlayKutu transaction is now available.<br/><br/>
    	See the transaction here: <br/>
    	<%= link_to transaction_url @transaction %>
    </p>

  </body>
</html>