<!DOCTYPE html>
<html>
  <head>
    <title>PlayKutu: Your transaction dispute is now resolved</title>
  </head>
  <body>
    <p>
    	Your PlayKutu transaction dispute is now resolved.<br/><br/>
    	See the transaction here: <br/>
    	<%= new_member_session_url  %>
    </p>

  </body>
</html>