.strong-logo {
  font-size: 30px;
  font-weight: bold;
}

.user-comment-wrapper .profile-wrapper {
  width: 100px;
  height: 100px;
}

.unrounded {
  border-radius: 0px;
  font-size: 20px;
}

.user-comment-wrapper-padding {
  padding-top: 14px;
}

.mg-top-10 {
  margin-top: 10px;
}

.jumbotron {
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.pd-left-30 {
  padding-left: 30px;
}

.color-secondary {
  color: #0aa699;
}

header {
  border-bottom: 0.1px solid #dce0e0;
  background-color: #F15152;
}

.navbar {
  border-bottom: none;
}

.header--white {
  background-color: #fff;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-top-5 {
  padding-top: 5px;
}

.font-12 {
  font-size: 12px;
}

.font-35 {
  font-size: 35px;
}

.padding-hz-30 {
  padding: 0px 30px;
}

.border-envelope {
  border-bottom: 1px dashed #ccc;
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  margin-bottom: 30px;
}

.width-30pct {
  width: 30%;
}

.dark-grey {
  background-color: #ccc;
}

.padding-left-0 {
  padding-left:0px;
}

.padding-20 {
  padding: 20px 20px 30px 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.width-80 {
  width: 80px;
}