<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due for some reasons.</p>

<p>Please contact admin to resolve this issue</p>

<p><%#= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
