              
                <div class="tiles-body">
                  <div class="row">
                    <div class="">
                      <div class="preview-wrapper p-t-5 p-l-20">
                        This transaction has reached time out of sending, please contact admin for resolution on
                        <%= link_to "PlayKutu Support", support_path %>
                        </div>
                    </div>
                  </div>
                </div>
              